# Node
node_modules/
dist/

# Go
go-backend/server
go-backend/go.sum

# Python
__pycache__/
*.pyc
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker volumes
data/

# Environment
.env.local
.env.production

# Go build output
go-backend/server.exe

# Vue env overrides
vue-frontend/.env.local
vue-frontend/.env.production
